@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel img {
    max-height: 40vh; /* Limit image height to 40% of the viewport height */
    width: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area without stretching */
  }
  